:root {
    --lightVanilla: #fff4f0;
    --darkVanilla: #e3d6d2;
    --darkVanilla: #eee3df;
    --parrotPink: #D4949D;
    --libertyBlue: rgb(92,99,164);
    --thistlePink: color-mix(in srgb, beige, rgb(222 193 219));
    --bleuDeFrance: color(srgb 0.18 0.5 0.89);
}

/* Regular */
@font-face {
    font-family: 'Lato';
    src: 
        local('Lato'),
        url('../font/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Lato';
    src: 
        local('Lato Italic'),
        url('../font/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'Lato';
    src: 
        local('Lato Bold'),
        url('../font/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'Lato';
    src: 
        local('Lato Bold Italic'),
        url('../font/Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Lighter */
@font-face {
    font-family: 'Lato';
    src: 
        local('Lato Light'),
        url('../font/Lato-Light.ttf') format('truetype');
    font-weight:lighter;
    font-style: normal;
}

/* Lighter Italic */
@font-face {
    font-family: 'Lato';
    src: 
        local('Lato Light Italic'),
        url('../font/Lato-LightItalic.ttf') format('truetype');
    font-weight:lighter;
    font-style: italic;
}

* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

#myHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    position: fixed;
    background-color:var(--darkVanilla, beige);
    padding-bottom: 5px;
}

#darkmode {
    height: 15px;
    width: 15px;
}

.darkmode {
    background-color: black;
    color:var(--parrotPink);
}

h1 {
    padding-top: 2rem;
    color: var(--libertyBlue, black);
    font-size: 22px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4, p, li, address, aside {
    font-size: 18px;
}

#myNavMenu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#myNavMenu ul li {
    list-style-type: none;
    padding: 5% 5%;
    transition: width 2s, background-color 0.5s ease-in-out;
    font-size: 18px;
    padding: 20px;
}

#myNavMenu ul li:hover {
    background-color: var(--colorMixed, pink);
    padding-left: 25px;
    padding-right: 25px;
}

/*Welcome Section*/

#welcomeSection {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;      
    text-align: center;       
}

#welcomeSection h2 {
    width: 60vw;    
    padding: 50px;          
    border: 10px solid var(--libertyBlue, black);
    background-color: var(--darkVanilla, beige);  
    color: var(--libertyBlue, black); 
}


/*---------------------------*/
/*About me Section*/
/* Bounce Animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Move up */
    }
}

#aboutMeSection {
    height: 90%;
    width: 100%;
    padding-bottom: 50px;
}

#aboutMeSection h2, 
#aboutMeSection h3,
#aboutMeSection p {
    padding: 20px;
    color: var(--libertyBlue, black);
}


#aboutMeSection ul li {
    list-style-type: none;
    padding: 10px;
}

#aboutMeSection aside {
    padding: 10px;
}

#tiktokLogo {
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    padding: 20px;
    position:relative;
    z-index: -1;
}

.brands {
    padding: 20px 50px;
}

h4:has(+ ul) {
    padding: 1rem;
    color: var(--bleuDeFrance, black);
}

/*--------------------------*/
/*Contact Section*/
#contactSection {  
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header header"
        "p1 address1"
        "p2 address2"
        "form form"
    ;
    row-gap: 20px;
    padding: 30px;
}

#contactSection h2 {
    grid-area: header;
}

form {
    grid-area: form;
    border: solid;
    border-color: pink;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    background: var(--lightVanilla, beige);
    align-items: center;
}

input:user-invalid {
    border: 2px dashed red;
}

input:valid {
    border: 2px solid black;
}

.required {
    color: red;
}

fieldset {
    border:none;
}

#submitBtn {
    border-radius: 5px;
    border-color: pink;
    color:black;
    background-color: white;
}

#submitBtn:hover {
    background-color: var(--parrotPink, pink);
    color:white;
}

.error {
    width: 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }



/* Mobile (Phones) */
@media (max-width: 600px) {
    h1 {
        font-size: 15px;
    }
    h2 {
        font-size: 20px;
    }

    p,li {
        font-size: 15px;
    }
    output {
        font-size:10px;
    }

    .brands {
        padding: 15px;
    }
    #myNavMenu ul {
        padding: 10px;
        justify-content: space-between;
    }
    #myNavMenu ul li {
        padding: 10px 15px;
    }
    #myNavMenu ul li:hover {
        background-color: var(--colorMixed, pink);
        padding: 10px 50px;
    }

    form {
        padding:15px;
    }

    #submitBtn {
        padding: 10px;
    }
}

/* Tablets / Small Laptops */
@media (min-width: 601px) and (max-width: 1024px) {
    h1,h2 {
        font-size: 45px;
    }
    h3 {
        font-size:35px;
    }
    h4 {
        font-size: 30px
    }
    p,li,a,aside, form, input, button {
        font-size: 25px;
    }
    output {
        font-size:18px;
    }
    .brands {
        padding: 15px;
    }
    #myNavMenu ul {
        padding: 10px;
    }
    #myNavMenu ul li {
        padding: 10px 70px;
    }
    #myNavMenu ul li:hover {
        background-color: var(--colorMixed, pink);
        padding: 10px 100px;
    }
    .brands {
        width: 100px;
    }
    form {
        padding:25px;
    }

    #submitBtn {
        padding: 15px;
    }
}

/* Desktops */
@media (min-width: 1025px) {
    h1,h2 {
        font-size: 45px;
    }
    h3 {
        font-size:35px;
    }
    h4 {
        font-size: 30px
    }
    p,li,a,aside,form, input, button {
        font-size: 25px;
    }
    output {
        font-size:18px;
    }
    .brands {
        padding: 15px;
    }
    #myNavMenu ul {
        padding: 20px;
    }
    #myNavMenu ul li {
        padding: 10px 70px;
    }
    #myNavMenu ul li:hover {
        background-color: var(--colorMixed, pink);
        padding: 10px 100px;
    }

    .brands {
        width: 200px;
    }
    form {
        padding:25px;
    }

    #submitBtn {
        padding: 15px;
    }
}


