:root {
    /*Colors*/
    --lightVanilla: #fff4f0;
    --darkVanilla: #eee3df;
    --parrotPink: #D4949D;
    --darkPink: #c2737f;
    --libertyBlue: rgb(92,99,164);
    --thistlePink: color-mix(in srgb, beige, rgb(222 193 219));
    --bleuDeFrance: color(srgb 0.18 0.5 0.89);

    /*Header sizing*/
    --headerWidth: 100vw;
    --headerPaddingBottom: 5px;
    --darkModeHeight: 15px;
    --darkModeWidth: 15px;

    /*Font sizes*/
    --h1fontSize: 26px;
    --h2fontSize: 24px;
    --h3fontSize: 22px;
    --h4fontSize: 20px;
    --pfontSize: 18px;

    --h1fontSizeMobile: 20px;
    --h2fontSizeMobile: 18px;
    --h3fontSizeMobile: 16px;
    --h4fontSizeMobile: 14px;
    --pfontSizeMobile: 12px;

    /*Nav Menu*/
    --navPadding: 0.8rem;
    --navOptionPadding: 2rem;
    --navOptionBorderRadius: 5px;

    /*Welcome Section*/
    --welcomeHeight: 100vh;
    --welcomeWidth: 100vw;
    --welcomeTextPaddingTB: 5rem;
    --welcomeTextPaddingLR: 10rem;
    --welcomeTextBorderSize: 0.5rem;

    /*About Me Section*/
    --aboutMePadding: 1rem;
    --loadBtnMargin: 0.8rem;
    --loadBtnPadding: 0.8rem;
    --loadBtnBorderSize: 3px;
    --loadBtnBorderRadius: 5px;
    --projectCardContainerGapSize: 1rem;
    --projectCardContainerPadding: 1rem;
    --projectCardContainerWidth: 90%;

    /*Contact Section*/
    --contactSectionRowGap: 1rem;
    --contactSectionPadding: 1rem;
    --formBorderRadius: 5px;
    --formPaddingTB: 2rem;
    --formPaddingLR: 10rem;
    --inputBorderRadius: 2px;
    --submitBtnPadding: 0.8rem;
    --submitBtnBorderRadius: 5px;
}

/* Regular */
@font-face {
    font-family: 'Lato';
    src: 
        local('Lato'),
        url('../font/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Lato';
    src: 
        local('Lato Italic'),
        url('../font/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'Lato';
    src: 
        local('Lato Bold'),
        url('../font/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'Lato';
    src: 
        local('Lato Bold Italic'),
        url('../font/Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Lighter */
@font-face {
    font-family: 'Lato';
    src: 
        local('Lato Light'),
        url('../font/Lato-Light.ttf') format('truetype');
    font-weight:lighter;
    font-style: normal;
}

/* Lighter Italic */
@font-face {
    font-family: 'Lato';
    src: 
        local('Lato Light Italic'),
        url('../font/Lato-LightItalic.ttf') format('truetype');
    font-weight:lighter;
    font-style: italic;
}

* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

#myHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--headerWidth);
    position: fixed;
    background-color:var(--darkVanilla, beige);
    padding-bottom: var(--headerPaddingBottom);
}

#darkmode {
    height: var(--darkModeHeight);
    width: var(--darkModeWidth);
}

.darkmode {
    background-color: black;
    color:var(--parrotPink);
}

h1 {
    padding-top: 2rem;
    color: var(--libertyBlue, black);
    font-size: var(--h1fontSize);
}

h2 {
    font-size: var(--h2fontSize);
}

h3, .navOption {
    font-size: var(--h3fontSize);
}

h4 {
    font-size: var(--h4fontSize);
}
p, li, address, aside, #darkmodeText, output, button, input, output, textarea {
    font-size: var(--pfontSize);
}

#myNavMenu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#myNavMenu ul {
    list-style-type: none;
    padding: var(--navPadding);
}

.navOption {
    padding: 0 var(--navOptionPadding);
    text-decoration: none;
    color: var(--libertyBlue, black);
}

.navOption:hover {
    background-color: var(--colorMixed, pink);
    padding: 0 var(--navOptionPadding);
    border-radius: var(--navOptionBorderRadius);
}

/*Welcome Section*/

#welcomeSection {
    height: var(--welcomeHeight);
    width: var(--welcomeWidth);
    display: flex;
    justify-content: center;
    align-items: center;      
    text-align: center;       
}

#welcomeSection h2 {
    padding: var(--welcomeTextPaddingTB) var(--welcomeTextPaddingLR);      
    border: var(--welcomeTextBorderSize) solid var(--libertyBlue, black);
    background-color: var(--darkVanilla, beige);  
    color: var(--libertyBlue, black); 
}


/*---------------------------*/
/*About me Section*/
/* Bounce Animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Move up */
    }
}

#aboutMeSection {
    padding: var(--aboutMePadding);
}

#aboutMeSection h2 {
    color: var(--libertyBlue, black);
    padding: var(--aboutMePadding);
} 
#aboutMeSection h3 {
    color: var(--darkPink, black);
    padding: var(--aboutMePadding);
}
#aboutMeSection p {
    padding: var(--aboutMePadding);
    color: black;
}
#aboutMeSection ul li {
    padding: var(--aboutMePadding);
}

#aboutMeSection aside {
    padding: var(--aboutMePadding);
}

#tiktokLogo {
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    padding: var(--aboutMePadding);
    position: relative;
    z-index: -1;
}

#brandsHeader {
    color: var(--bleuDeFrance);
}

button.loadBtns {
    margin: var(--loadBtnMargin);
    padding: var(--loadBtnPadding);
    background-color: var(--thistlePink);
    border: var(--loadBtnBorderSize) solid var(--parrotPink);
    border-radius: var(--loadBtnBorderRadius);
}

button.loadBtns:hover {
    background-color: var(--parrotPink);
}

#projectcard-container {
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    gap: var(--projectCardContainerGapSize);         
    justify-content: center;
    padding: var(--projectCardContainerPadding);
    width: var(--projectCardContainerWidth);       
}


/*--------------------------*/
/*Contact Section*/
#contactSection {  
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header header"
        "p1 address1"
        "p2 address2"
        "form form"
    ;
    row-gap: var(--contactSectionRowGap);
    padding: var(--contactSectionPadding);
}

#contactSection h2 {
    grid-area: header;
}

form {
    grid-area: form;
    border: solid;
    border-color: pink;
    margin: auto;
    border-radius: var(--formBorderRadius);
    padding:var(--formPaddingTB) var(--formPaddingLR);
    display:flex;
    flex-direction: column;
    background: var(--lightVanilla, beige);
    align-items: center;
}

input:user-invalid {
    border: var(--inputBorderRadius) dashed red;
}

input:valid {
    border: var(--inputBorderRadius) solid black;
}

.required {
    color: red;
}

fieldset {
    border:none;
}

#submitBtn {
    padding: var(--submitBtnPadding);
    border-radius: var(--submitBtnBorderRadius);
    border-color: pink;
    color:black;
    background-color: white;
}

#submitBtn:hover {
    background-color: var(--parrotPink, pink);
    color:white;
}

.error {
    width: 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }



/* Mobile (Phones) */
@media (max-width: 600px) {
    h1 {
        font-size: var(--h1fontSizeMobile);
    }
    h2 {
        font-size: var(--h2fontSizeMobile);
    }
    h3, .navOption {
        font-size: var(--h3fontSizeMobile);
    }
    h4 {
        font-size: var(--h4fontSizeMobile);
    }
    p, li, address, aside, #darkmodeText, output {
        font-size: var(--pfontSizeMobile);
    }

    .brands {
        padding: 15px;
    }

    #myNavMenu ul li {
        padding: 10px 15px;
    }
    #myNavMenu ul li:hover {
        padding: 10px 50px;
    }

    form {
        padding:15px;
    }

    #submitBtn {
        padding: 10px;
    }
}

/* Tablets / Small Laptops */
@media (min-width: 601px) and (max-width: 1024px) {
    h1 {
        font-size: var(--h1fontSize);
    }
    h2 {
        font-size: var(--h2fontSize);
    }
    h3, .navOption {
        font-size:var(--h3fontSize);
    }
    h4 {
        font-size: var(--h4fontSize);
    }
    p, li, address, aside, #darkmodeText, output {
        font-size: var(--pfontSize);
    }
    .brands {
        padding: 15px;
    }
    #myNavMenu ul li {
        padding: 10px 70px;
    }
    #myNavMenu ul li:hover {
        padding: 10px 100px;
    }
    .brands {
        width: 100px;
    }
    form {
        padding:25px;
    }
    #submitBtn {
        padding: 15px;
    }
}



